body {

    background-color: transparent;
}

* {
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

h1 {
    display: block;
    width: 100%;
    color: black;
    text-align: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.intro p {
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
}

.intro a {
    color: #88bcf5;
    border-bottom: 2px solid transparent;
}
.intro a:hover {
    text-decoration: none;
    border-bottom: 2px solid #88bcf5;
}

.paracard {
    width: 100%;
    display: block;
    padding-top: 66.66666%;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border: 0px;
    background-size: 110% 110%;
    background-position: center center;
}

.dcard {
    position: relative;
    display: block;
    perspective: 500px;
    border-radius: 12px;
}

.col-md-12, .col-md-4 {
    margin-bottom: 30px;
}

.col-md-12 .dcard {
    perspective: 3000px;
}

.frame {
    background: rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.frame:after {
    width: calc(100% - 40px);

    height: calc(100% - 40px);
    content: "";
    display: block;
    left: 20px;
    top: 20px;
    position: absolute;
    transform: translateZ(30px);
}

.dcard:hover .paracard .frame {
    background: rgba(0, 0, 0, 0);
}
.dcard:hover .paracard .frame:after {

}

h2 {
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translateZ(50px);
    text-align: center;
    font-size: 24px;
    text-shadow: 0px 0px 5px black;
}

.trigger {
    position: absolute;
    height: 33.333333%;
    width: 33.333333%;
    display: block;
    z-index: 2;
}
.trigger:nth-child(1) {
    left: 0%;
    top: 0%;
}
.trigger:nth-child(1):hover ~ .paracard {
    transform: rotateY(8deg) rotateX(-5deg);
    background-position: top left;
}
.trigger:nth-child(2) {
    left: 33.333333%;
    top: 0%;
}
.trigger:nth-child(2):hover ~ .paracard {
    transform: rotateY(0deg) rotateX(-5deg);
    background-position: top center;
}
.trigger:nth-child(3) {
    left: 66.666666%;
    top: 0%;
}
.trigger:nth-child(3):hover ~ .paracard {
    transform: rotateY(-8deg) rotateX(-5deg);
    background-position: top right;
}
.trigger:nth-child(4) {
    left: 0%;
    top: 33.333333%;
}
.trigger:nth-child(4):hover ~ .paracard {
    transform: rotateY(8deg);
    background-position: center left;
}
.trigger:nth-child(5) {
    left: 33.333333%;
    top: 33.333333%;
}
.trigger:nth-child(5):hover ~ .paracard {
    transform: rotateY(0deg) rotateX(0deg);
    background-position: center center;
}
.trigger:nth-child(6) {
    left: 66.666666%;
    top: 33.333333%;
}
.trigger:nth-child(6):hover ~ .paracard {
    transform: rotateY(-8deg) rotateX(0deg);
    background-position: center right;
}
.trigger:nth-child(7) {
    left: 0%;
    top: 66.666666%;
}
.trigger:nth-child(7):hover ~ .paracard {
    transform: rotateY(8deg) rotateX(5deg);
    background-position: bottom left;
}
.trigger:nth-child(8) {
    left: 33.333333%;
    top: 66.666666%;
}
.trigger:nth-child(8):hover ~ .paracard {
    transform: rotateY(0deg) rotateX(5deg);
    background-position: bottom center;
}
.trigger:nth-child(9) {
    left: 66.666666%;
    top: 66.666666%;
}
.trigger:nth-child(9):hover ~ .paracard {
    transform: rotateY(-8deg) rotateX(5deg);
    background-position: bottom right;
}

.buttons {
    width: 100%;
}

.buttons a {
    color: #88bcf5;
    border-bottom: 2px solid transparent;
    margin: 10px 20px;
}
.buttons a:hover {
    text-decoration: none;
    border-bottom: 2px solid #88bcf5;
}

@media (min-width: 1200px){
    .container {
        max-width: 2000px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 1500px;
}
}



